@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.body{
    padding-bottom: 70px;
    background-color: #e9ecef;

}

.scroll{
    background-color: #e9ecef;
    width: 96%;
    margin: 23% auto 0%;
}

.scroll .row1, .scroll .row2{
    background-color: #e9ecef;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}


.scroll .row1 .column11, .scroll .row1 .column12, .scroll .row1 .column13, .scroll .row1 .column14, .scroll .row2 .column21, .scroll .row2 .column22, .scroll .row2 .column23, .scroll .row2 .column24{
    width: 25%;
    height: 200px;
}

.scroll .row1 .column11, .scroll .row1 .column12, .scroll .row1 .column13,  .scroll .row2 .column21, .scroll .row2 .column22, .scroll .row2 .column23{
    border-right: 1px solid #212529;
}

.scroll h2{
    margin: 0px 0px 80px 30px;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    text-decoration: underline;
}

.scroll img{
    width: 40%;
    margin:5% 0% 0% 30%;
}

.scroll p {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 30%;
    margin-left: 35%;
    align-items: center;
    text-align: center;
}