{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>MyApp Title</title>
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
        <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'css/background.css' %}">


    </head>

    <body>
        <!-- Navigation bar -->
        <nav>
            <div class="titleN">
                <a href="#">TheHive</a>
            </div>
            <div class="list">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div> 
        </nav>

        <!-- Content -->
        <div class="body">
            
            <!-- Home Container -->
            <div class="container">
                <div class="background">
                    
                    <img src="{% static '/media/background.png' %}" alt="Background Image">
                </div>
        
                <div class="foreground">
                    <h1>Unveil <br> your <br> supplier</h1>
                    <p>Find the perfect source / supplier for your <br> business</p>
                    <div class="getStarted"><a href="{% url 'login' %}">Get Started</a></div>
                    <div class="login"><p>Already got an account,&nbsp</p><a href="{% url 'login' %}">Login</a></div>
                </div>
            </div>

            <!-- Scroll Down -->
            <div class="scroll">
                <h2>Explore more services:</h2>
                <div class="row1">
                        <div class="column11">
                            <img src="{% static '/media/1.png' %}" alt="Image 1">
                            <p>Electronics</p>
                        </div>
                        <div class="column12">
                            <img src="{% static '/media/2.png' %}" alt="Image 2">

                            <p>School supply</p>
                        </div>
                    
                        <div class="column13">
                            <img src="{% static '/media/3.png' %}" alt="Image 3">
                            <p>Camera & Accessories</p>
                        </div>
                    
                        <div class="column14">
                            <img src="{% static '/media/4.png' %}" alt="Image 4">
                            <p>Gift boxes</p>
                        </div>

                </div>
                <div class="row2">
                    
                        <div class="column21">
                            <img src="{% static '/media/5.png' %}" alt="Image 5">

                            <p>kitchen supply</p>
                        </div>
                    
                        <div class="column22">
                            <img src="{% static '/media/6.png' %}" alt="Image 6">

                            <p>Clothes</p>
                        </div>
                    
                        <div class="column23">
                            <img src="{% static '/media/7.png' %}" alt="Image 7">

                            <p>Phones & Accessories</p>
                        </div>
                    
                        <div class="column24">
                            <img src="{% static '/media/8.png' %}" alt="Image 8">

                            <p>Car Gears</p>
                        </div>
                    
                </div>
                
            </div>
        </div>

        <!-- About -->
    <div class="cabout"><div class="about">
        <div class="rightAbout">
            <img src="{% static '/media/about.png' %}" alt="About Image">

        </div>
        <div class="leftAbout">
            <h1>About TheHive</h1>
            <ul>
                <li>We offer a user-friendly platform that allows customers to easily search for a supplier based on their location, service category, and ratings.</li>
                <li>Our mission is to connect customers with reliable and skilled service providers for a wide range of tasks.</li>
                <li>Suppliers can create their profiles, showcase their skills, and accept requests from customers, making it easy for them to find new clients and grow their businesses.</li>
                <li>In addition, we offer 24/7 customer support to ensure that customers have a seamless experience on our platform and their needs are always addressed.</li>
                <li>We conduct market research to identify customer needs and offer a variety of service categories to meet those needs.</li>
            </ul>
            
        </div>
    </div></div>
        
    </body>

    

    <!-- Footer -->
    <footer class="homeFooter">
        <div class="upperFooter">
            <div class="leftFooter">
                <h1>Get in Touch</h1>
                <p>Fill out the form our team will get to you within 24 hours</p>
                <h3>Reach Out to Our Experts</h3>
                <p>Need a helping hand? Our friendly customer service team is just a phone call away!</p>
                <div class="contactSec">
                    <div class="phone">	<img src="{% static '/media/phoneIcon.png' %}" alt="Phone Icon">
                        <p>+213 999 999 999</p></div>
                    <div class="mail">	<img src="{% static '/media/mailIcon.png' %}" alt="Email Icon">
                        <p>Customerservice@myapp.com</p></div>
                    <div class="address">	<img src="{% static '/media/addressIcon.png' %}" alt="Address Icon">
                        <p>102 Street Town, City</p></div>
                </div>
            </div>
            <div class="rightFooter">
                    <div class="input-container ic1">
                      <input id="firstname" class="input" type="text" placeholder=" " />
                      <div class="cut"></div>
                      <label for="firstname" class="placeholder">First name</label>
                    </div>
                    <div class="input-container ic2">
                      <input id="lastname" class="input" type="text" placeholder=" " />
                      <div class="cut"></div>
                      <label for="lastname" class="placeholder">Last name</label>
                    </div>
                    <div class="input-container ic2">
                      <input id="email" class="input" type="text" placeholder=" " />
                      <div class="cut cut-short"></div>
                      <label for="email" class="placeholder">Email</label>
                    </div>
                    <div class="input-container ic2">
                        <textarea id="message" name="message" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">Enter your message here/.</textarea>
                    </div>
                    <button type="text" class="submit">submit</button>
            </div>
        </div>
    </footer>
</html>